$firstGradPinkBtn: #FF512F;
$secondGradPinkBtn: #DD2476;
$thirdGradPinkBtn: #FF512F;

$shadowColor: white;

$cardBorderColor: white;

$customNavLinkBackgroundColor: white;

$backgroundColor: #343a40;
